body {
    background-color: #313F38;
    color: #FFFCF6;
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
